<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Coins</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
  <!--
      <form action="coin-data" method="post">
          {% csrf_token %}
          <button>Click this to go to the page where users will see the coin</button>
      </form>
      <form action="coin-data" method="post">
          {% csrf_token %}
          <input type="search" placeholder="Search coins">
      </form>
      -->

  <div class="container-fluid">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <span class="fs-4">Coins</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link">Browse</a></li>
        <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Cabinet</a></li>
      </ul>
    </header>

    <hr>
    <div class="d-flex justify-content-center">
      <span class="fs-4">Interactive Coin Cabinet</span>
    </div>
    <div class="d-flex justify-content-center">
      <span class="fs-6">Click a coin for more information!</span>
    </div>
    <hr>

    <div class="row flex-nowrap">
      <div id = "divs" class="col-auto col-md-3 col-xl-2 px-sm-2 px-0">
        <div style="box-shadow: 2px 2px 5px #333333;"
          class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-secondary min-vh-10 bg-secondary">
          <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-decoration-none">
            <br></br>
            <span style="text-shadow: 2px 2px 5px #333333" class="fs-5 d-none d-sm-inline text-light">Information</span>
          </a>
          <span class="fs-6 d-none d-sm-inline text-light">Click this button to toggle between the front/back of the coins:</span>
          <p></p>
          <button id="button" type="button" onclick="changeButton()"
            style="border-radius: 12px; cursor:pointer; width: 100px; height: 50px;  box-shadow: 2px 2px 5px #333333; font-size: 100%;">Back
            View</button>
            <p></p>
            <span class="fs-6 d-none d-sm-inline text-light">Click this button add a box, in which you can drag specific coins into to sort through them:</span>
            <p></p>
            <button type="button" onclick="newSortBox()"
            style="border-radius: 12px; cursor:pointer; width: 150px; height: 50px;  box-shadow: 2px 2px 5px #333333; font-size: 100%;">Add New Sort Box</button>
            <br></br>
            <span class="fs-6 d-none d-sm-inline text-light">Click this button to set the page back to its original format:</span>
            <p></p>
            <button type="button" onclick="reload()"
            style="border-radius: 12px; cursor:pointer; width: 150px; height: 75px;  box-shadow: 2px 2px 5px #333333; font-size: 100%;">Back to Initial Configuration</button>
          <br></br>
        </div>

        <div id="info"
          style="background-color: #0077b6; color: #f0f0f0; border-radius: 0px; padding: 10px; box-shadow: 2px 2px 5px #333333;">
        </div>

      </div>
      <div id="rawr" class="col py-3">
        <div id="backdrop" class="container"
          style="border:1px solid black; background-image: url('https://media.istockphoto.com/id/977086910/photo/high-resolution-close-up-of-blue-felt-fabric.jpg?s=170667a&w=0&k=20&c=ux37EuNY3QrYmNEk12QKTXxgAq4v42TfjX61FL954f0='); width: auto; height: auto; padding-top: 10%; padding-left: 7%; padding-right: 0%; padding-bottom: 10%;">
          <script>
            let front_images = {
              1: "https://lh3.googleusercontent.com/pw/AJFCJaXUtvIxMT_sy1_0MJWrloncF-Z8OT5XWulWBtgxjDd1AzcgDU4qlMGB6fjGe_rKQTa4B2DYGzx6GNsNQZf_0GIIa-RVX6smV9qoeny1bOlbsekCcuc=w2400",
              2: "https://lh3.googleusercontent.com/pw/AJFCJaX1_VvPmCNMZxsquZkmvP9U-mvSB3ZLiHlcSJOX8rrFGw_viBxb0Vs4YXf2P4Az4dWjQlCghX4MpRhROO0pvItDU0zdi03BDqvnKIRV3xUhe7MZ-TU=w2400",
              3: "https://lh3.googleusercontent.com/EAghlcTJr82MByGm27o7VqF_W6A5oh0T1GztCjF-yctU7kgOCPqT1AtQRzgcgsLqr4euvcIgFO-IxSMeSiTn6ocPjEXzmYTQKNwdYDpyKF_dBIX_QzZ_hikhZJ18dQQ0CVmFXlhVmQ=w2400",
              4: "https://lh3.googleusercontent.com/pw/AJFCJaUwTHMe7PutOkZT-6bd4Kr6x5Q3Oiwc-l8dCw6PdpHQh1Hd4b40umu7FqYfOccAXH9MGSHu6E8P5G5r9b4Q7T8Y3PhjeYJxxkFLnCfJK-WUEuXy-_g=w2400",
              5: "https://lh3.googleusercontent.com/mUfE9SnhrGdi3DXp6moSwHO1Gj9c7VKeLcF9vYNZZmdjhPiUXdh5pBPp1BwIWobi5K4i5Xg78njrmSVto_L5_T8QNrtccAlLRIIYY36jYtcpwJ93z7nCjfQyE2hrUk95yhMtfVEyXg=w2400",
              6: "https://lh3.googleusercontent.com/xbFHgfcKTKS2gbiHHHnNs_qm_ghIZeNq6Uuf0bFLeCmKgEpzCV_rxqUXrgtiyAnQG8dmzHV9hn9mP_cLokihIxFTYkZ_vgaNZMUYO7oxuOUs3vzaXXONOyptLlxnqqrOD3GslDnTFg=w2400",
              7: "https://lh3.googleusercontent.com/eLvZWYIBDHwZepkikyoBIsgD6uFxtnS6O_kIZGq54x3hfpkvGwd5uCP4m68nHpPNEAQmCujd0rqyc-tO3zfGOlldZo1Oha2IMwTSScsSFcEK0sr32kzP34vZLpIs8yhJ64Iwrls1kw=w2400",
              8: "https://lh3.googleusercontent.com/pw/AJFCJaXog-oZOSn5RrVcIM0fPqRgcj7bAi_pms1oIFt9FitX-pDEtC3y45FnYDOioIJfDLj8h3IlFE1GKl1iCQ_S2HugKVq0A5X43Axhx6P-g9ZJz0WNQ0o=w2400",
              9: "https://lh3.googleusercontent.com/pw/AJFCJaW1889DmMmqmRjTa8Xw81LkkzLxqEg1q0Qw-rtCpS41AQUlHmPB99YY4w6loyZuyM1tKzdncrNLZLYV4u1lWaGfX4brusghzSPwfA1n66KHOgkg_pU=w2400",
              10: "https://lh3.googleusercontent.com/pw/AJFCJaXLQlup_C98HEtXEIQGEeFUsGB9OUFkodoLbW3TInGUeF4tt8EcCTzb1CuujAEi4A_eOpEbLiNhzau2GGNyIpDtf-nEO7sYwdKywdxWGX3AXotmit0=w2400",
              11: "https://lh3.googleusercontent.com/pw/AJFCJaWFJe_k6008zLi5ZwPUqNldAwx8zvSPnn1Cq-OFoF_dUTHJMtCxLuERW455VpMmvPD1_TnvEV5tJALur_IqQFYAJFLm41BS2T2HnXBu4AoLrBtLUrk=w2400",
              12: "https://lh3.googleusercontent.com/pw/AJFCJaVwctrjaX7bx4hlQdoWUW2pdUzweUjr1Zu0asH0n6pAo1XB7uvBFiaNF9HnfYHRHvDEVMxiBqApKIPit6kou6Ap3dF3om2p28KUBeaDrQm_X2h2JyY=w2400",
              13: "https://lh3.googleusercontent.com/pw/AJFCJaWs4DyjjeD2OPcaKG5ll2F1SV0Xxg7ny5KzAAELzluG8epdapdqVkC2nF-GP9RQsCUm0DMdG5JmKUVxchgwK3xxVHlHRlhigK4NEmJlniWa_b69iOw=w2400",
              14: "https://lh3.googleusercontent.com/pw/AJFCJaXmQPQIhnIj62A6mHvR1sXR2_R0FUIhY9zcsMfy-sSDByuzN0J94yg3uQPxVgsExa0H0GcFI1ZT_jb4OZHXEcSSnL1PPZgH62Bj3ejnD9EWspZYPmw=w2400",
              15: "https://lh3.googleusercontent.com/pw/AJFCJaVE8GHrZIS7ekO3IlJRo2KFbs2VkJKTh6rWi79Y2QwpXOiZmVW28tYpw6wmhY0ovzFz1qGDOnvB5300YFOtG1auIvwDJBm0pDNutD4hvqHpZaK1Kao=w2400",
              16: "https://lh3.googleusercontent.com/pw/AJFCJaXC0uPdQtm_QHUb071KYOtk-eLQuRE_Wy_QrGsJpD8HdP8lbNr-_gt0rGZ5tp2sCh-U0ojQXWK7Opl10u4NXiiF_BQs9CXUvWUTzPYHgSVq5N3B80w=w2400",
              17: "https://lh3.googleusercontent.com/pw/AJFCJaVKoTpMg6zQor6I2Fu467uzILjBT-dFJEB5XD5fFmtzJrs7g5eOZ_gFyAR_QzpaU_zQQeLp2HEobERHSxnZ9B63VK0BG675cgbSJ64aN9LUcZG-Uw4=w2400",
              18: "https://lh3.googleusercontent.com/pw/AJFCJaVrQhjMrRH4B8KYdYGrmJR1rHFCE3CSs0Deohjd_FcPBteqFIv74X3sd2JiRZ8lj2GyWVmJz0V7DV2k0P9uOsHNmX7Jg7GVhjV8FOKADJ8XK4Y6Pl8=w2400",
              19: "https://lh3.googleusercontent.com/pw/AJFCJaX-llTJidxc1SpVk-1nQPYj8Tn_eeoxyJMRA5rg642wf5ojHpzU4nsdYTPYcMLhQdxXB0qngxtH21KlI7EMFaQjsUUy88t6aDZkl3q1M_FExICOrro=w2400",
              20: "https://lh3.googleusercontent.com/pw/AJFCJaVAqZaOSZVo1Lh2s8Wcw7rnnbsZzQzUSE-45m3icyclqgKB1wPTd-Ujv4AOC42O3AgWyYLrvbsRKZlo9iySNYZUW7FFTBxpHXQRHOtSsa5Bz3O4rxw=w2400"
            }

            let back_images = {
              1: "https://lh3.googleusercontent.com/pw/AJFCJaVE2PuPrCnp1qVNAGekJx4LKbrjfmuU77dXmNqaxKYqGe74oqMBhKvMovZbz2qyWrD88btqDC4gaUIIKsoNYvqcwZ6TItJfI7C7uPTKfkBmg179D9I=w2400",
              2: "https://lh3.googleusercontent.com/pw/AJFCJaWuUtnaBRTYdwltkh1LnwvPxEHSDcBvV_I-HQWBheo26zGDpfO48lqmg2ev5hJb-EnxTzyEYAgNmr7CSywBB5dxAjl-i-Q06z5S5Ztkonx5a-JJdXg=w2400",
              3: "https://lh3.googleusercontent.com/pw/AJFCJaXY1mMoWI5T3mW-DnqZJ-3-FkbTXGKnmbvskufZwgPIVcuEWoEoesVwuWEAWRXZr-VumdBrAIve_yXpFmmn_1Gs7GhlmuXaLXySkVfuPS0e48xOBQo=w2400",
              4: "https://lh3.googleusercontent.com/w8OnJ-2Kn_XatyAUFhNTEwBdMgNjg-tRV7gkEdGFEgE49fG8E5LfambQF6RnnKoI_eudElIHOcN7ZVmJzI0cKOZzg0IhzCILy0VvT15BGRtvWiwBih_FnxzY3DDGQ_6rrgrtFOT7Xw=w2400",
              5: "https://lh3.googleusercontent.com/pw/AJFCJaWqDo0PLFyegmtPEQiDAi5zE1PyoNB_IES70z8v--RA7dfL15Iy0cElPOIn_uwXXgSzRbOl5R0vERLjEM9Z1sQnUBgJT-x6estY6YW-weIp3r_EkW0=w2400",
              6: "https://lh3.googleusercontent.com/pw/AJFCJaWHlxTZXgshZJfQ7dPX80c0_w8dbdINL66bgM1FBKogN9D0u2pwMFV6FqTpRDpve8-vGhG-ufhry84JB-NL8g_0F4rfGOptFXg0mLqCrrGR_UH47-U=w2400",
              7: "https://lh3.googleusercontent.com/pw/AJFCJaXUqRb0AHcbm7FvBJnnmrtpN6wHJo8BvaBmNjeFeMzt63iMQ0hJ_68bLIgrfvoOKFtjd30qN6jngaioQA74A84Zk7B0bWNZpzAlvTwj0ECIJGFxXHc=w2400",
              8: "https://lh3.googleusercontent.com/pw/AJFCJaW1Qi82I_eXCzJ6PgHZeilZa8oQA4ExVG9W8saaHwklnJWJL92w0sBwySq0UAmX_fp2mn5UbrKTZaFKRv5gGCAtXYOtdS0o0ewMFtFkZZEad_TvssE=w2400",
              9: "https://lh3.googleusercontent.com/pw/AJFCJaVLOkXEXzqXQp62bgBn4EWNJJbiAS_IQWoQhg1fiTshf9NLWqMMs6PQjgWOnAIErtDmayRj4NvPOz57unhhwyLnA5ZJ_XIhFnJsT0PMRz8QcV4yPS0=w2400",
              10: "https://lh3.googleusercontent.com/pw/AJFCJaWtLffl0MHA_eqpRksQxusMu_sJNFO_qZTn4KzCHEZ5QA1arPCx4GddmH0HJh_aEBNJUg96IQ-MvZG7uK27OB1aVyrZstP4C52npz9gMapjQnVmfHk=w2400",
              11: "https://lh3.googleusercontent.com/pw/AJFCJaWnl9Ku3RKrSQ3k00_wpQRGnJ8vswAx6-YFKjrplbQERiMEzF6LmniQCFxZ-yKeWZym8A7GNdyTu5IctDey3HW-xlQLOT9C7RMX01rnQt1sCayAVa8=w2400",
              12: "https://lh3.googleusercontent.com/pw/AJFCJaVSYETDv4gLx7QKzijNiTcwTn-0G9seefECopa7UsaJu4bjSIwmzl0pKyAZT4p2PccHmHKxaPBsZ9TmT4c1ZAQ5KX7E1ylfeSWdlSChXV5sAvNl1lo=w2400",
              13: "https://lh3.googleusercontent.com/pw/AJFCJaU9Cwi9CnQksZf4PthkYJCx6vjO_YYT6HgEw3ODqbIkBC_f2JfGJ81nwXqGDiGmRfviecT9BAaltRowEVZReAPucegUCfUrG2vX_TeteMw8Slmup_E=w2400",
              14: "https://lh3.googleusercontent.com/pw/AJFCJaUn0lPaLa5z6-UFDY4lZWuO0oGozKBnDGP23MGWR3wZQeoIaI7V1PT5BN1B5KiwDLT6AqjFiabq1yoJ-EMJqOCqbpdSMvizyJxwgc6oFOQkErh5ecE=w2400",
              15: "https://lh3.googleusercontent.com/pw/AJFCJaWiODszEhhFag1fz4YOerhJ1ZS_lJhL6PhXKdoGA-ioiP7pVc4BYdHseVIYdzYWwSB55hKktHq8Rkkoo6N2wAzwNI0RjxMCl0TN54PEzqAmRvzECVk=w2400",
              16: "https://lh3.googleusercontent.com/pw/AJFCJaWW4NHH3VwX7rUfHA-gVnzv9-UWRBfJPlKWpXj13wZZUzrGZVyzHUud34gG7B99-o7rGJ9Mtd4Xw3_Hpo0auVVaZfmeIvMcl-aKMAluSBcHal3obtg=w2400",
              17: "https://lh3.googleusercontent.com/pw/AJFCJaWLAbSBgRItpKrL5AOANqmy8ObjTQJg6ojPQAng4MTWfuBSa-0TNFgfLYVt-0p-v1sJcE0X6KatFrnPaLHGxhNdjemtXpaOScKFnNsLrrZz0IDMeR4=w2400",
              18: "https://lh3.googleusercontent.com/pw/AJFCJaWMIgnDzWsSvye3RJrFJIvCNaQG88jFExRg2-QEvlXGDZyl7xqSfzzWLCY-ySnuq0umjufnLk0bNyzB4-I4Uf0YHZLnXeoTXK6oqpNatYnYp3V8uGs=w2400",
              19: "https://lh3.googleusercontent.com/pw/AJFCJaXCpa7cJcXnlchGAgDGet1FrSVZ_gaBmbPb0ixI3So-vape9O62asWienU1jkGJXF5oAFCEJfQWSfz8SePT_jr_XAEmvVst5V-i0Vzs-h9mwupq7-Q=w2400",
              20: "https://lh3.googleusercontent.com/pw/AJFCJaWbfJqwHnhQ3Pq6hKnqHQbLoIMNz7mjeMkisup7lq7ezJfcYAb_ELNnWRR9fTKF-su_KzcqPFvGl9Aot3ytT2OvC8ti4NvBA13QKWbTBfsoiTQGVHE=w2400"
            }

            let wiki = {
              1: "https://www.wikidata.org/wiki/Q100572348",
              2: "https://www.wikidata.org/wiki/Q100576954",
              3: "https://www.wikidata.org/wiki/Q100562921",
              4: "https://www.wikidata.org/wiki/Q100562921",
              5: "https://www.wikidata.org/wiki/Q100491992",
              6: "https://www.wikidata.org/wiki/Q100535224",
              7: "https://www.wikidata.org/wiki/Q100490930",
              8: "https://www.wikidata.org/wiki/Q100491370",
              9: "https://www.wikidata.org/wiki/Q100535215",
              10: "https://www.wikidata.org/wiki/Q100534481",
              11: "https://www.wikidata.org/wiki/Q100486776",
              12: "https://www.wikidata.org/wiki/Q100487199",
              13: "https://www.wikidata.org/wiki/Q100499045",
              14: "https://www.wikidata.org/wiki/Q100536696",
              15: "https://www.wikidata.org/wiki/Q100544414",
              16: "https://www.wikidata.org/wiki/Q100562710",
              17: "https://www.wikidata.org/wiki/Q100562710",
              18: "https://www.wikidata.org/wiki/Q100472435",
              19: "https://www.wikidata.org/wiki/Q100562428",
              20: "https://www.wikidata.org/wiki/Q100562299"
            }

            function removeBorder(img_num) {
              document.getElementById(img_num).style.border = 'none';
            }


            function displayInfo(img_num, x, y, url, id) {
              console.log(url.slice(-10))

              const getRequest = async (img_num) => {
                const response = await axios.get("/cabinet_view", {
                  params: {
                    "this": url.slice(-10)
                  }
                })
                  .then((response) => {
                    console.log(response.data);
                    console.log(response.data);
                    const data = response.data.data;

                    const target = document.getElementById('info'); // assuming that 'target' is the ID of the element where you want to display the data

                    // Clear previous information
                    target.innerHTML = "";

                    // loop through the array and create a separate HTML element for each item
                    for (let i = 0; i < data.length; i++) {
                      const item = data[i];
                      const itemElem = document.createElement('div');
                      itemElem.innerHTML = '<br><strong style="font-family: Arial, sans-serif; font-weight: bold;">' + item + '</strong>';

                      // append the HTML element to the target element
                      target.appendChild(itemElem);
                    }
                  });

              }
              getRequest();

              // let information = document.createElement("div");
              // let text = document.createElement("p");
              // information.appendChild(response.data);
              // element.appendChild(information);
              var popupWindow = window.open(url, 'popUpWindow', 'height=500,width=800,left=' + x + ',top=' + y + ',resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no, status=yes');

            }


            let prev_id = null; // initialize the variable to null

            // function makeDrag(img_num) {
            //   var dragItem = document.getElementById(img_num);
            //   console.log(dragItem);
            //   var container = document.getElementById("rawr");
            //   console.log(container);

            //   var active = false;
            //   var currentX;
            //   var currentY;
            //   var initialX;
            //   var initialY;
            //   var xOffset = 0;
            //   var yOffset = 0;

            //   container.addEventListener("touchstart", dragStart, false);
            //   container.addEventListener("touchend", dragEnd, false);
            //   container.addEventListener("touchmove", drag, false);

            //   container.addEventListener("mousedown", dragStart, false);
            //   container.addEventListener("mouseup", dragEnd, false);
            //   container.addEventListener("mousemove", drag, false);

            //   function dragStart(e) {
            //     if (e.type === "touchstart") {
            //       initialX = e.touches[0].clientX - xOffset;
            //       initialY = e.touches[0].clientY - yOffset;
            //     } else {
            //       initialX = e.clientX - xOffset;
            //       initialY = e.clientY - yOffset;
            //     }

            //     if (e.target === dragItem) {
            //       active = true;
            //     }
            //   }

            //   function dragEnd(e) {
            //     initialX = currentX;
            //     initialY = currentY;

            //     active = false;
            //   }

            //   function drag(e) {
            //     if (active) {

            //       e.preventDefault();

            //       if (e.type === "touchmove") {
            //         currentX = e.touches[0].clientX - initialX;
            //         currentY = e.touches[0].clientY - initialY;
            //       } else {
            //         currentX = e.clientX - initialX;
            //         currentY = e.clientY - initialY;
            //       }

            //       xOffset = currentX;
            //       yOffset = currentY;

            //       setTranslate(currentX, currentY, dragItem);
            //     }
            //   }

            //   function setTranslate(xPos, yPos, el) {
            //     el.style.transform = "translate3d(" + xPos + "px, " + yPos + "px, 0)";
            //   }
            // }
            let container = document.getElementById("backdrop");

            container.addEventListener('dragenter', function (e) {
              e.preventDefault();
            });

            container.addEventListener('dragover', function (e) {
              e.preventDefault();
            });

            // container.addEventListener('dragleave', drop);
            container.addEventListener('drop', drop);



            function drop(e) {
              let y = e.clientY; 
              let x = e.clientX;
              // get the draggable element
              var id = e.dataTransfer.getData('text/plain');
              var draggable = document.getElementById(id);
              console.log(draggable);
              // add it to the drop target
              e.target.appendChild(draggable);
              
              // display the draggable element
              draggable.style.display = "block";
              // console.log(y - 3.1 * container.offsetTop + "px");
              // draggable.style.left = x - 1.4 * container.offsetLeft + "px";
              // console.log(x - 1.4 * container.offsetLeft + "px");
            }

            function newSortBox () {
              space = document.createElement("br");
              document.getElementById("divs").appendChild(space);
              new_div = document.createElement("div");
              new_div.style = "border:1px solid black; background-image: url('https://media.istockphoto.com/id/977086910/photo/high-resolution-close-up-of-blue-felt-fabric.jpg?s=170667a&w=0&k=20&c=ux37EuNY3QrYmNEk12QKTXxgAq4v42TfjX61FL954f0='); width: auto; height: auto; padding-top: 10%; padding-left: 7%; padding-right: 0%; padding-bottom: 10%";
              new_div.addEventListener('dragenter', function (e) {
                e.preventDefault();
              });
              new_div.addEventListener('dragover', function (e) {
                e.preventDefault();
              });
              new_div.addEventListener('drop', drop);
              document.getElementById("divs").appendChild(new_div);
            }
            
            function reload(){
              window.location.reload();
            } 

            for (let x in front_images) {
              let coin_img = document.createElement("img");
              coin_img.setAttribute("id", x);
              console.log(coin_img.getAttribute("id"));
              coin_img.src = front_images[x];
              coin_img.draggable = "true";
              coin_img.addEventListener('dragstart', function (e) {
                e.dataTransfer.setData('text/plain', e.target.id);
                setTimeout(() => {
                    e.target.style.display = "none";
                }, 0);
              });
              coin_img.style = "width:150px; height:150px; position:relative; top: auto; left: auto; padding: 1%; cursor:pointer";
              let element = document.getElementById("backdrop");
              coin_img.addEventListener("click", function (e) {
                if (prev_id) {
                  const prev_coin = document.getElementById(prev_id);
                  prev_coin.style.border = "none";
                }
                
                coin_img.style.border = "2px solid #FFFFFF";
                prev_id = x;
                displayInfo(x, e.clientX, e.clientY, wiki[x]);
              });
              // coin_img.addEventListener("mousedown", function (e) {
              //   coin_img.style.cursor = "";
              // });
              element.appendChild(coin_img);
            }

            function changeButton() {
              let img_dict;
              let new_div;
              console.log("heyyy");
              let button = document.getElementById("button");
              if (button.textContent == "Front View") {
                img_dict = front_images;
                button.textContent = "Back View";
              } else {
                img_dict = back_images;
                button.textContent = "Front View";
              }


              for (let x in img_dict) {
                let coin = document.getElementById(x);
                coin.src = img_dict[x];
              
                // let coin_img = document.createElement("img");
                // coin_img.setAttribute("id", x);
                // coin_img.src = img_dict[x];
                // coin_img.style = "width:150px; height:150px; position:relative; top: auto; left: auto; padding: 1%; cursor:pointer";
                // let element = document.getElementById("backdrop");
                // coin_img.addEventListener("click", function (e) {
                //   if (prev_id) {
                //     const prev_coin = document.getElementById(prev_id);
                //     prev_coin.style.border = "none";
                //   }
                //   coin_img.style.border = "2px solid #FFFFFF";
                //   prev_id = x;
                //   displayInfo(x, e.clientX, e.clientY, wiki[x]);
                // });

                // element.appendChild(coin_img);

              }
            }


            // for (let x in img_dict) {
            //   let coin_img = document.createElement("img");
            //   coin_img.setAttribute("id", x);
            //   coin_img.src = img_dict[x];
            //   coin_img.style = "width:150px; height:150px; position:relative; top: auto; left: auto; padding: 1%; cursor:pointer";
            //   let element = document.getElementById("backdrop");
            //   coin_img.addEventListener("click", function (e) {
            //     if (prev_id) {
            //       const prev_coin = document.getElementById(prev_id);
            //       prev_coin.style.border = "none";
            //     }
            //     coin_img.style.border = "2px solid #FFFFFF";
            //     prev_id = x;
            //     displayInfo(x, e.clientX, e.clientY, wiki[x]);
            //   });

            //   element.appendChild(coin_img);

            // }

          </script>

          <!-- {% if images %}
              <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for image in images %}
                <div class="col">
                  <a href="/coin-data/?id={{ image.3 }}" target="_blank" style="text-decoration: none">
                    <div class="card shadow-sm bg-dark">
                      <div class="card-header text-white">
                        {{ image.1 }}
                      </div>
                        <img src="{{ image.0 }}" alt="coin" width="100%" height="225">
                      <div class="card-body d-flex justify-content-center align-items-center text-white">
                        <p class="card-text"> {{ image.4 }} | {{ image.2 }}</p>
                      </div>
                    </div>
                  </a>
                </div>
                {% endfor %}
            {% else %}
              <p> Error getting images</p>
            {% endif %} -->
        </div>
      </div>
    </div>
  </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>
</body>

</html>